[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/karimulla84
[access "refs/for/refs/*"]
	read = group user/karimulla84
	push = group user/karimulla84
	label-Code-Review = -2..+2 group user/karimulla84
	label-Verified = -1..+1 group user/karimulla84
	rebase = group user/karimulla84
	removeReviewer = group user/karimulla84
	submit = group user/karimulla84
[access "refs/heads/*"]
	read = group user/karimulla84
	create = group user/karimulla84
	push = +force group user/karimulla84
	pushMerge = group user/karimulla84
[access "refs/tags/*"]
	push = +force group user/karimulla84
	pushTag = group user/karimulla84
	pushSignedTag = group user/karimulla84
